html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Hide Wacom embed container */
#wacomPluginWrapper {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

/* Toolbox
 *
 * #tools - Container for tools
 * .flex - Container for tools
 * .flex > div - Tool buttons
 * .toolkit - Collection of tools, tool category
 * #toolWordmark - The wordmark.
 * #wacomSupportIndicator - Is visible when Wacom support is detected
 */
#tools {
    position: fixed;
    top: 20%;
    left: 3%;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex > div {
    margin: 15px 0 0 0;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    -webkit-transition: width 0.7s ease-out;
    transition: width 0.7s ease-out;
}

.flex > div:nth-child(1) {
    margin: 0;
}

.toolkit > div:nth-child(1) {
    margin: 0;
}

.tool {
    background: rgba(0, 0, 0, 0.2);
    margin: 8px 0 0 0;
    border: solid 1px #888;
    border-radius: 5px;
    padding: 4px;
}

.tool:hover {
    background: rgba(180, 180, 180, 1) !important;
    -webkit-transition: width 0.7s ease-out;
    transition: width 0.7s ease-out;
    cursor: pointer;
}

.tool:active {
    background: rgba(220, 220, 220, 1) !important;
    border: solid 1px #ff9900;
    -webkit-transition: width 0.7s ease-out;
    transition: width 0.7s ease-out;
}

.touchTool .toolkit .tool {
    background: rgba(0, 0, 0, 0.2);
    margin: 8px 0 0 0;
    border: solid 1px #888;
    border-radius: 5px;
    padding: 12px;
}

.tool i {
    font-size: 28px;
    color: #333;
}

.activeTool {
    background-color: #ddd;
}

#toolWordmark {
    margin: 8px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}

#wacomSupportIndicator {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
}

/* Canvas */
/* Do not set size using CSS */
#mainCanvas {
    background-image: url('../../images/canvasbg.png');
}

#mainCanvas:hover {
    cursor: crosshair;
}